:root
{
    --transparent-dark: rgba(0,0,0,0.5);
}

html {
    scroll-behavior: smooth;
}

header
{
    height: 17.5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main
{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-title
{
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 4rem;

}

.animate-element
{
    transition: .3s;
}

.nav-icon
{
    width: 100px;
}

.nav-icon:hover,.nav-title-link:hover
{
    transform: scale(1.2);
}

.nav-right
{
    padding: 0 4rem;
    color: white;
    display: flex;
    align-items: center;
}

.nav-right a
{
    color: white!important;
}

.user-icon
{

    font-size: 1.75rem;
    margin-left: 1.5rem;

}

footer
{
    width: 100%;
    padding: 25px;
}

.website-info
{
    height: 100px;
}

.law a
{
color: white;
}

/* global styles */

.bg-transparent-dark
{
    background: rgba(0,0,0,0.5);
}
