<footer class="bg-secondary">
    <div class="website-info d-flex align-items-center justify-content-center">
        <div class="text-center">
            <p class="text-light">Website by Anton, Jette and Nina</p>
            <p class="text-light">All Rights Reserved</p>
        </div>
    </div>
    <div class="law text-center">
        <a href="{{ path("impressum") }}">Impressum</a>
        <a href="{{ path("datenschutz") }}">Datenschutzerklärung</a>
    </div>
</footer>